This is an implementation of user location estimation algorithm through Gaussian Mixture Model (GMM) with assigned probablity for all components (location centers).

In [2]:
# Load necessary libraries
import psycopg2  # For connecting to PostgreSQL database
import pandas as pd # Data analysis toolkit with flexible data structures
import numpy as np # Fundamental toolkit for scientific computation with N-dimensional array support
from sklearn.mixture import GaussianMixture # Gaussian Mixutre Model in scikit-learn

Fetch the list of users for which we want to estimate the location.

In [3]:
conn = psycopg2.connect("dbname='yelp' host='192.168.1.16' user='manoj' password='^&YTGXXkhashfghs)('")
cur = conn.cursor()
cur.execute("select user_id from _user where review_count>= 10;")
data1 = cur.fetchall()

In [12]:
#query1 = "select b.business_id, b.latitude, b.longitude from business as b, (select business_id from review where user_id = '"+data1[0][0]+"') as r where b.business_id = r.business_id;"
#cur.execute("select b.business_id, r.user_id, b.latitude, b.longitude from review as r join business as b on b.business_id = r.business_id;")
cur.execute("select r.user_id, b.latitude, b.longitude from review as r join business as b on b.business_id = r.business_id;")
data2 = cur.fetchall()

In [5]:
df1 = pd.DataFrame(data1)
df1.head()

                        0
0  EZmocAborM6z66rTzeZxzQ
1  myql3o3x22_ygECb8gVo7A
2  FIk4lQQu1eTe2EpzQ4xhBA
3  ojovtd9c8GIeDiB8e0mq2w
4  uVEoZmmL9yK0NMgadLL0CQ

In [13]:
df = pd.DataFrame(data2)
df.head()

                        0          1           2
0  UYcmGbelzRa0Q6JqzLoguw  36.146267 -115.182987
1  On_1ZwRgD2Ry0eoKYC29iQ  36.146267 -115.182987
2  PKEzKWv_FktMm2mGPjwd0Q  36.146267 -115.182987
3  PomQayG1WhMxeSl1zohAUA  36.146267 -115.182987
4  PuzhvFmuIvrCgJ_GRqyJPg  55.953252   -3.188267

In [14]:
len(df.index)

4153150

In [15]:
df.rename(columns={df.columns[0]: 'user_id', df.columns[1]: 'latitude', df.columns[2]: 'longitude'}, inplace=True)
df.head()

                  user_id   latitude   longitude
0  UYcmGbelzRa0Q6JqzLoguw  36.146267 -115.182987
1  On_1ZwRgD2Ry0eoKYC29iQ  36.146267 -115.182987
2  PKEzKWv_FktMm2mGPjwd0Q  36.146267 -115.182987
3  PomQayG1WhMxeSl1zohAUA  36.146267 -115.182987
4  PuzhvFmuIvrCgJ_GRqyJPg  55.953252   -3.188267

In [17]:
user = df.user_id.unique()

In [22]:
print(user[0], type(user[0]))

UYcmGbelzRa0Q6JqzLoguw <class 'str'>

In [28]:
query2 = "select count(distinct b.city) from business as b, (select business_id from review where user_id = '"+data1[0][0]+"') as r where b.business_id = r.business_id;"
cur.execute(query2)
data3 = cur.fetchall()
n = data3[0][0]
print('Number of components for user_id "', data1[0][0], '" : ', n)

Number of components for user_id " iplE0RwOqAHBumz5HwXiTQ " :  2

In [ ]:
for user in data1:
    #print(user)
    #print(type(user))
    query1 = "select b.business_id, b.latitude, b.longitude from business as b, (select business_id from review where user_id = '"+user[0]+"') as r where b.business_id = r.business_id;"
    #query = "select count(b.business_id) from business as b, (select business_id from review where user_id = '"+user[0]+"') as r where b.business_id = r.business_id;"
    cur.execute(query1)
    data2 = cur.fetchall()
    df = pd.DataFrame(data2)
    #print(df)
    query2 = "select count(distinct b.city) from business as b, (select business_id from review where user_id = '"+user[0]+"') as r where b.business_id = r.business_id;"
    cur.execute(query2)
    data3 = cur.fetchall()
    n = data3[0][0]
    x = df
    r = df.columns[1:]
    x[r]
    gmix = GaussianMixture(n_components=n, covariance_type='full')
    gmix.fit(x[r].values)
    label = gmix.predict(x[r].values)
    a = pd.DataFrame(label)
    b = a[0].groupby(a[0]).count()
    c = pd.DataFrame(b)
    max_index = c[0].argmax()
    #print (user[0], '\t', gmix.means_)
    #print(type(gmix.means_))
    #print(user[0], '\t', n, '\t', max_index, '\t', gmix.means_[max_index][0], gmix.means_[max_index][1])
    #query2= "insert into _user_location_estimation (user_id, latitude, longitude) values (%s, %s, %s)", (user[0], gmix.means_[0][0], gmix.means_[0][1])
    cur.execute("insert into user_location_estimate2 (user_id, latitude, longitude) values (%s, %s, %s)", (user[0], gmix.means_[max_index][0], gmix.means_[max_index][1]))
    conn.commit()