This is an implementation of user location estimation algorithm through Gaussian Mixture Model (GMM) with assigned probablity for all components (location centers).

In [1]:
# Load necessary libraries
import psycopg2  # For connecting to PostgreSQL database
import pandas as pd # Data analysis toolkit with flexible data structures
import numpy as np # Fundamental toolkit for scientific computation with N-dimensional array support
from sklearn.mixture import GaussianMixture # Gaussian Mixutre Model in scikit-learn
from sqlalchemy import create_engine
from time import gmtime, strftime

Fetch the list of users for which we want to estimate the location.

In [2]:
conn = psycopg2.connect("dbname='yelp' host='192.168.1.16' user='manoj' password='^&YTGXXkhashfghs)('")
cur = conn.cursor()

In [3]:
cur.execute("select r.user_id, b.latitude, b.longitude, b.city from review as r join business as b on b.business_id = r.business_id order by user_id limit 2000;")
data = cur.fetchall()

In [4]:
df = pd.DataFrame(data)
df.head()

                        0          1           2           3
0  000AJVuwnwpGL8hHQUVLYg  35.263961  -81.090968      Lowell
1  000JFML-9-W2-TGBTS0oaA  36.144757 -115.242249   Las Vegas
2  000JFML-9-W2-TGBTS0oaA  36.145097 -115.244272   Las Vegas
3  000JgS1HGrjvIxCn-BrpSw  35.410078  -80.581153     Concord
4  000JgS1HGrjvIxCn-BrpSw  35.326281  -80.646357  Harrisburg

In [5]:
len(df.index)

2000

In [6]:
df.rename(columns={df.columns[0]: 'user_id', df.columns[1]: 'latitude', df.columns[2]: 'longitude',  df.columns[3]: 'city'}, inplace=True)
df.head()

                  user_id   latitude   longitude        city
0  000AJVuwnwpGL8hHQUVLYg  35.263961  -81.090968      Lowell
1  000JFML-9-W2-TGBTS0oaA  36.144757 -115.242249   Las Vegas
2  000JFML-9-W2-TGBTS0oaA  36.145097 -115.244272   Las Vegas
3  000JgS1HGrjvIxCn-BrpSw  35.410078  -80.581153     Concord
4  000JgS1HGrjvIxCn-BrpSw  35.326281  -80.646357  Harrisburg

In [7]:
users = df.user_id.unique()
type(users)

numpy.ndarray

In [8]:
    query = "select distinct r.user_id from review as r, (select business_id, postal_code from business where state like '%NV%' or state like '%AZ%') as b where  r.business_id=b.business_id group by r.user_id;"
    cur.execute(query)
    data_user = cur.fetchall()
    users = pd.DataFrame(data_user)
    users.rename(columns={users.columns[0]: 'user_id'} , inplace=True)
    users = users.user_id.unique()

In [10]:
users.rename(columns={users.columns[0]: 'user_id'} , inplace=True)

AttributeError: 'numpy.ndarray' object has no attribute 'rename'

In [29]:
len(users1)

714678

In [27]:
users1 = users1.columns[0].unique()

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

In [11]:
print(users[0], type(users[0]))

000JFML-9-W2-TGBTS0oaA <class 'str'>

In [228]:
#df = df.drop(df.index[[0 , len(df.index)-1]])

In [8]:
#df = df[0:0]

In [12]:
print(users[0], type(users[0]))

000JFML-9-W2-TGBTS0oaA <class 'str'>

In [20]:
df.head()

                  user_id   latitude   longitude        city
0  000AJVuwnwpGL8hHQUVLYg  35.263961  -81.090968      Lowell
1  000JFML-9-W2-TGBTS0oaA  36.144757 -115.242249   Las Vegas
2  000JFML-9-W2-TGBTS0oaA  36.145097 -115.244272   Las Vegas
3  000JgS1HGrjvIxCn-BrpSw  35.410078  -80.581153     Concord
4  000JgS1HGrjvIxCn-BrpSw  35.326281  -80.646357  Harrisburg

In [24]:
print(strftime("%Y-%m-%d %H:%M:%S", gmtime()))
#test = df.loc[df['user_id'] == users[10000]]
test = df.loc[df['user_id'] == '000JgS1HGrjvIxCn-BrpSw']
print(strftime("%Y-%m-%d %H:%M:%S", gmtime()))
#for user in users:
#    df.loc[df['user_id'] == user]

#type(test)
#test

2017-05-08 17:17:36
2017-05-08 17:17:36

In [15]:
#create a data frame dictionary to store your data frames
DataFrameDict = {elem : pd.DataFrame for elem in users}

for key in DataFrameDict.keys():
    DataFrameDict[key] = df[:][df.user_id == key]

KeyboardInterrupt:

In [48]:
#test_dict = df.to_dict()

In [23]:
unique_city = test.city.unique()
unique_city

array([], dtype=object)

In [17]:
len(unique_city)

0

In [19]:
x = test
r = test.columns[1:3]
r
x[r]

Empty DataFrame
Columns: [latitude, longitude]
Index: []

In [164]:
gmix = GaussianMixture(n_components=len(unique_city), covariance_type='full')
gmix.fit(x[r].values)
label = gmix.predict(x[r].values)
a = pd.DataFrame(label)

In [165]:
a

   0
0  0
1  0
2  0
3  1
4  0

In [ ]:
label = gmix.predict_proba(x[r].values)
a = pd.DataFrame(label)
a

In [166]:
b = a[0].groupby(a[0]).count()
c = pd.DataFrame(b)
c

   0
0
0  4
1  1

In [167]:
reviews = len(a.index)
reviews

5

In [168]:
p = c/reviews
p

     0
0
0  0.8
1  0.2

In [169]:
gmix.means_

array([[  36.0136342 , -115.10947359],
       [  36.144667  , -115.239955  ]])

In [170]:
len(gmix.means_)

2

In [152]:
columns = ['user_id']
location = pd.DataFrame(columns=columns)
location

Empty DataFrame
Columns: [user_id]
Index: []

In [171]:
for i in range(0, len(gmix.means_)):
    location.loc[i] = [users[100000]]

In [172]:
location

                  user_id
0  60tcIi7bwDPKga4yKfPcWA
1  60tcIi7bwDPKga4yKfPcWA

In [173]:
columns2 = ['latitude', 'longitude']
location2 = pd.DataFrame(data=gmix.means_, columns=columns2)
location2

    latitude   longitude
0  36.013634 -115.109474
1  36.144667 -115.239955

In [174]:
#result = pd.concat([location, location2])
#result

location2 ['user_id'] = location

location2

    latitude   longitude                 user_id
0  36.013634 -115.109474  60tcIi7bwDPKga4yKfPcWA
1  36.144667 -115.239955  60tcIi7bwDPKga4yKfPcWA

In [175]:
location2 ['probability'] = p
location2

    latitude   longitude                 user_id  probability
0  36.013634 -115.109474  60tcIi7bwDPKga4yKfPcWA          0.8
1  36.144667 -115.239955  60tcIi7bwDPKga4yKfPcWA          0.2

In [88]:
#engine = create_engine('postgresql://manoj:^&YTGXXkhashfghs)(@192.168.1.16:5432/yelp')
#location2.to_sql('user_location_temp3', engine)

In [157]:
#col = ['user_id', 'latitide', 'longitude', 'probability']
#loc_temp = pd.DataFrame(columns=col)
#loc_temp

Empty DataFrame
Columns: [user_id, latitide, longitude, probability, city, state]
Index: []

In [176]:
loc_temp = loc_temp.append(location2, ignore_index=True)

In [177]:
loc_temp

,city,latitide,latitude,longitude,probability,state,user_id
0,NaN,NaN,43.671000,-79.393120,0.2,NaN,-0nnuz6DjXDFbg2EJnZvTw
1,NaN,NaN,36.013634,-115.109474,0.8,NaN,60tcIi7bwDPKga4yKfPcWA
2,NaN,NaN,36.144667,-115.239955,0.2,NaN,60tcIi7bwDPKga4yKfPcWA

In [181]:
engine = create_engine('postgresql://manoj:^&YTGXXkhashfghs)(@192.168.1.16:5432/yelp')
loc_temp.to_sql('user_location_temp3', engine)

In [241]:
# Load necessary libraries
import psycopg2  # For connecting to PostgreSQL database
import pandas as pd # Data analysis toolkit with flexible data structures
import numpy as np # Fundamental toolkit for scientific computation with N-dimensional array support
from sklearn.mixture import GaussianMixture # Gaussian Mixutre Model in scikit-learn
from sqlalchemy import create_engine

conn = psycopg2.connect("dbname='yelp' host='192.168.1.16' user='manoj' password='^&YTGXXkhashfghs)('")
cur = conn.cursor()
cur.execute("select r.user_id, b.latitude, b.longitude, b.city from review as r join business as b on b.business_id = r.business_id order by user_id limit 1000;")
data = cur.fetchall()

df = pd.DataFrame(data)
df.rename(columns={df.columns[0]: 'user_id', df.columns[1]: 'latitude', df.columns[2]: 'longitude',  df.columns[3]: 'city'}, inplace=True)

users = df.user_id.unique()

columns = ['user_id']
location = pd.DataFrame(columns=columns)
#columns2 = ['latitude', 'longitude']
#location2 = pd.DataFrame(columns=columns2)
col = ['user_id', 'latitide', 'longitude', 'probability']
loc_temp = pd.DataFrame(columns=col)

for user in users:
    test = df.loc[df['user_id'] == user]
    unique_city = test.city.unique()
    x = test
    r = test.columns[1:3]
    gmix = GaussianMixture(n_components=len(unique_city), covariance_type='full')
    gmix.fit(x[r].values)
    label = gmix.predict(x[r].values)
    a = pd.DataFrame(label)
    b = a[0].groupby(a[0]).count()
    c = pd.DataFrame(b)
    reviews = len(a.index)
    p = c/reviews
    for i in range(0, len(gmix.means_)):
        location.loc[i] = [user]
    columns2 = ['latitude', 'longitude']
    location2 = pd.DataFrame(data=gmix.means_, columns=columns2)
    #location2 = pd.DataFrame(data=gmix.means_)
    location2 ['user_id'] = location
    location2 ['probability'] = p
    loc_temp = loc_temp.append(location2, ignore_index=True)
    location = location[0:0]
    del location2

print()
#engine = create_engine('postgresql://manoj:^&YTGXXkhashfghs)(@192.168.1.16:5432/yelp')
#oc_temp.to_sql('user_location_temp3', engine)

In [239]:
loc_temp

NameError: name 'loc_temp' is not defined

In [38]:
example = pd.DataFrame({"A":[1,2,3,4,5], "B":[4,5,6,7,8]})
 
for row_id, row in enumerate(example.values):
    print (row_id, row, type(row))

0 [1 4] <class 'numpy.ndarray'>
1 [2 5] <class 'numpy.ndarray'>
2 [3 6] <class 'numpy.ndarray'>
3 [4 7] <class 'numpy.ndarray'>
4 [5 8] <class 'numpy.ndarray'>

In [34]:
example

   A  B
0  1  4
1  2  5
2  3  6
3  4  7
4  5  8